.twenty48 {
  margin: calc(var(--pixel-size) * 0) auto;
  padding: calc(var(--pixel-size) * 1);
  width: 100%;
  max-width: calc(var(--pixel-size) * 37);

  & header {
    display: flex;
    align-items: center;
    margin: calc(var(--pixel-size) * 1) calc(var(--pixel-size) * 0);

    & * {
      flex: 1;
    }
  }
}

@media (min-width: 512px) {
  .twenty48 {
    max-width: calc(var(--pixel-size) * 60);
  }
}
